{% extends 'crud/layout.html' %}


{% block content %}

  
{% if vehiculoAEditar %}
<form method="post" action="{% url 'guardar_cambios' %}">
  {% csrf_token %}

		<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>


<!-- La idea aca en este menu desplegable era que aparezcan los choices que estan definidos en ARRAY_TIPO en models.py -->
    {{ vehiculoAEditar.marca }}
    <tr>
      <th scope="row">{{ vehiculoAEditar.id }}</th>
      <td><select class="form-control" name="Tipo" id="Tipo">
      <option>Motocicleta</option>
      <option>Automovil</option>
      <option>Monopatin</option>
    </select></td>
    <!--# La idea aca era que en los campos de: row, Tipo, Marca y Modelo me apareciera los values actuales del objeto a editar. -->
    
      <td><input type="text" value="{{ vehiculoAEditar.marca}}" class="form-control" name="Marca" id="Marca" aria-describedby="emailHelp"></td>
      <td><input type="text" value="{{ vehiculoAEditar.modelo}}" class="form-control" name="Modelo" id="Modelo" aria-describedby="emailHelp"></td>
      <td>
        <input type="hidden" name="id" value="{{ vehiculoAEditar.id }}">

        <a class="btn btn-info btn-sm" href="{% url 'guardar_cambios' %}" role="button">Guardar Cambios</a>
        

     </td>
    </tr>

  </tbody>
</table>


</form>


{% else %}

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for vehiculo in listaVehiculos %}
    <tr>
      <th scope="row">{{ vehiculo.id }}</th>
      <td>{{ vehiculo.tipo }}</td>
      <td>{{ vehiculo.marca }}</td>
      <td>{{ vehiculo.modelo }}</td>
      <td>

        <a class="btn btn-warning btn-sm" href="{% url 'editar_form' vehiculo.id %}" role="button">Editar</a>
        <a class="btn btn-danger btn-sm" href="{% url 'eliminar' vehiculo.id %}" role="button">Eliminar</a>

     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}